{% load static %}
<link rel="stylesheet" href="{% static 'main_page/main_page.scss' %}">

{% include 'components/header.html' %}

<body>
    <div class="titles">О нас</div>
    <div class="rectangle-container">
        <div class="rectangle"> 
            <div class="rectangle-title">Возможности с нами</div>
            <div class="rectangle-text">Подберите индивидуальную программу с профессиональным тренером, который поможет достичь ваших целей, будь то похудение, набор мышечной массы или улучшение выносливости.        </div>
        </div>
        <div class="rectangle"> 
            <div class="rectangle-title">Возможности с нами</div>
            <div class="rectangle-text">Подберите индивидуальную программу с профессиональным тренером, который поможет достичь ваших целей, будь то похудение, набор мышечной массы или улучшение выносливости.        </div>
        </div>
    </div>
    <div class="titles">Наши залы</div>
    <div class="rectangle-container">
        <div class="gyms-container">
            <div class="image">
                <img src="{% static 'images/IMG_9824.png' %}" alt="Изображение 2">
            </div>
            <div class="gyms-text">Шабаны Селицкого 105</div>
            <button class="gyms-button">Просмотреть тренеров</button>
        </div>
        <div class="gyms-container">
            <div class="image">
                <img src="{% static 'images/dsc_3.png' %}" alt="Изображение 3">
            </div>
            <div class="gyms-text">Малый тросцинец 62</div>
            <button class="gyms-button">Просмотреть тренеров</button>
        </div>
    </div>
    <div class="titles">Наши тренера</div>
    <div class="trainers-container">
        <div class="image-trainer">
            <img src="{% static 'images/rem.jpg' %}" alt="Изображение 3">
            <div class="trainers-title">Екатерина Сергеевна Кравцова</div>
            <div class="trainers-text">Персональные тренировки, йога и пилатес</div>
            <div class="trainers-text">Сертифицированный тренер с более чем 8-летним опытом работы в фитнес-индустрии. Она помогает клиентам развить гибкость и улучшить физическую форму через индивидуальный подход к каждому. Екатерина также ведет расслабляющие занятия по йоге и пилатесу для укрепления тела и духа.</div>
        </div>
        <div class="image-trainer">
            <img src="{% static 'images/trener.png' %}" alt="Изображение 3">
            <div class="trainers-title">Алексей Дмитриевич Морозов</div>
            <div class="trainers-text">Силовые тренировки, бодибилдинг</div>
            <div class="trainers-text">Профессиональный тренер по силовым тренировкам с опытом работы более 10 лет. Он создает программы для набора мышечной массы и увеличения силы, помогая своим клиентам добиться максимальных результатов. Алексей работает как с новичками, так и с профессиональными спортсменами.</div>
        </div>
        <div class="image-trainer">
            <img src="{% static 'images/kulinichi.jpg' %}" alt="Изображение 3">
            <div class="trainers-title">Денис Олегович Куликов</div>
            <div class="trainers-text">Кроссфит, функциональный тренинг</div>
            <div class="trainers-text">Сертифицированный тренер по кроссфиту, специализируется на высокоинтенсивных тренировках, направленных на развитие силы, выносливости и координации. Его программы включают разнообразные упражнения, которые помогают улучшить общую физическую форму и поддерживать высокий уровень активности.</div>
        </div>
    </div>
    <div class="title-review">Отзывы</div>
    <div class="rectangle-review">
        
    </div>
</body>