{% load static %}
<link rel="stylesheet" href="{% static 'header/header.scss' %}">

<body>
    <div class="header-container">
        <div class="images">
            <img src="{% static 'images/Frame 26.png' %}" alt="Изображение 1">
        </div>
        <div class="header-href">
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">О нас</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Магазин</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Адреса</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Блог</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Контакты</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Авторизация</a></div>
            <div class="header-href-text"><a class="link" href="{% url 'login' %}">Регистрация</a></div>

        </div>
        <button class="button-header">PROFILE</button>
    </div>
</body>